<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group staffs-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Name -->
		<div class="form-group staffs-name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name)%%></div>
			</div>
		</div>
		<!-- Field: Title -->
		<div class="form-group staffs-title" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Title</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(title)%%></div>
			</div>
		</div>
		<!-- Field: Photo -->
		<div class="form-group staffs-photo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var photoSrc1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(photo)%%>';
				var photoSrc2<%%RND1%%>='thumbnail.php?t=staffs&f=photo&i=<%%VALUE(photo)%%>&v=dv'
			</script>
			<a href="#" onclick="$j('#photoImg<%%RND1%%>').attr('src', ($j('#photoImg<%%RND1%%>').attr('src').search(/thumbnail\.php/) != -1 && photoSrc1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? photoSrc1<%%RND1%%> : photoSrc2<%%RND1%%>)); return false;"><img id="photoImg<%%RND1%%>" src="thumbnail.php?t=staffs&f=photo&i=<%%VALUE(photo)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: Description -->
		<div class="form-group staffs-description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(description)%%></div>
			</div>
		</div>
		<!-- Field: Research paper -->
		<div class="form-group staffs-research_paper" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Research paper</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="research_paper-link" href="link.php?t=staffs&f=research_paper&i=<%%VALUE(id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-file" title="<%%VALUE(research_paper)%%>"></i></a><script>jQuery(function() { var e_research_paper = '<%%VALUE(research_paper)%%>'; if(e_research_paper == '' || e_research_paper == '&nbsp;' || e_research_paper == 'blank.gif') jQuery('#research_paper-link').hide(); });</script></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="staffs-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=staffs-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'staffs',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'staffs-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

