<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the category_init() hook (in hooks/category.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="category-id-<%%VALUE(id)%%>" class="category-id text-right"><%%VALUE(id)%%></td>
		<td id="category-category_name-<%%VALUE(id)%%>" class="category-category_name"><%%VALUE(category_name)%%></td>
