<!-- To change the layout of the detail view form, we recommend using JS code in hooks/courses-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="courses_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="courses_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="courses_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group courses-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Faculty name -->
				<div class="form-group courses-faculty_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="faculty_name">Faculty name<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="faculty_name" id="faculty_name" value="<%%VALUE(faculty_name)%%>" required>
					</div>
				</div>

				<!-- Field: Faculty photo -->
				<div class="form-group courses-faculty_photo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Faculty photo<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#faculty_photo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="faculty_photo-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(faculty_photo)%%>" data-lightbox="courses_dv"><img src="thumbnail.php?i=<%%VALUE(faculty_photo)%%>&t=courses&f=faculty_photo&v=dv" class="img-thumbnail" id="faculty_photo-image"></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(faculty_photo)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>/* disable links to empty images */ $j(function() { var e_faculty_photo = '<%%VALUE(faculty_photo)%%>'; if(e_faculty_photo == '' || e_faculty_photo == '&nbsp;' || e_faculty_photo == 'blank.gif') { $j('#faculty_photo-link').hide(); $j('#faculty_photo-image').parents('a').attr('href', '').on('click', function(e) { e.preventDefault(); }); } });</script>
					</div>
				</div>

				<!-- Field: Faculty description -->
				<div class="form-group courses-faculty_description">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="faculty_description">Faculty description<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(faculty_description)%%>
					</div>
				</div>

				<!-- Field: Contact -->
				<div class="form-group courses-contact">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="contact">Contact<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="contact" id="contact" value="<%%VALUE(contact)%%>" required>
					</div>
				</div>

				<!-- Field: Email -->
				<div class="form-group courses-email">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email-edit-link">Email<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div>
							<a id="email-link" href="mailto:<%%VALUE(email)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(email)%%>"></i></a>
							<label for="email"><button type="button" id="email-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#email" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							<input maxlength="80" type="text" class="form-control collapse" name="email" id="email" value="<%%VALUE(email)%%>" required>
						</div><script>jQuery(function() { var e_email = '<%%VALUE(email)%%>'; if(e_email == '' || e_email == '&nbsp;' || e_email == 'blank.gif') jQuery('#email-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Google map iframe -->
				<div class="form-group courses-location_google_map_key">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="location_google_map_key-edit-link">Google map iframe <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#location_google_map_key-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="location_google_map_key-description"><div class="alert alert-info bspacer-xs">Learn how to add here:<br>https://www.maps.ie/create-google-map/</div></span>
						<div class="form-control-static"><div class="rspacer-lg"><%%GOOGLEMAP(location_google_map_key)%%></div><label for="location_google_map_key"><button type="button" id="location_google_map_key-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#location_google_map_key" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label><input maxlength="40" type="text" class="form-control collapse" name="location_google_map_key" id="location_google_map_key" value="<%%VALUE(location_google_map_key)%%>"></div>
					</div>
				</div>

				<!-- Field: Syllabus -->
				<div class="form-group courses-syllabus">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Syllabus <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#syllabus-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="syllabus-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="syllabus-link" href="link.php?t=courses&f=syllabus&i=<%%VALUE(id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(syllabus)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(syllabus)%%>
								<%%REMOVEFILE(syllabus)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_syllabus = '<%%VALUE(syllabus)%%>'; if(e_syllabus == '' || e_syllabus == '&nbsp;' || e_syllabus == 'blank.gif') jQuery('#syllabus-link').hide(); });</script>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="courses_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#faculty_description').length) new nicEditor({ fullPanel : true }).panelInstance('faculty_description');
					if($j('textarea#syllabus').length) new nicEditor({ fullPanel : true }).panelInstance('syllabus');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#courses_dv_container-loading').addClass('hidden');
			$j('#courses_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('courses', 'faculty_name');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'courses',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=courses&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=courses&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>