<!-- To change the layout of the detail view form, we recommend using JS code in hooks/soe_posts-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="soe_posts_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="soe_posts_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="soe_posts_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Id -->
				<div class="form-group soe_posts-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Id</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Title -->
				<div class="form-group soe_posts-title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="title">Title<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="250" type="text" class="form-control" name="title" id="title" value="<%%VALUE(title)%%>" required>
					</div>
				</div>

				<!-- Field: Tags -->
				<div class="form-group soe_posts-tags">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tags">Tags<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#tags-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="tags-description"><div class="alert alert-info bspacer-xs">Separate the tags by comma(,).</div></span>
						<textarea class="form-control" name="tags" id="tags" rows=" 5"><%%VALUE(tags)%%></textarea>
					</div>
				</div>

				<!-- Field: Category -->
				<div class="form-group soe_posts-category">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="category" data-parent_link="view_parent_modal">Category<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(category)%%><%%PLINK(category)%%><%%ADDNEW(category)%%></div>
					</div>
				</div>

				<!-- Field: Date -->
				<div class="form-group soe_posts-date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Date</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="date"><%%VALUE(date)%%></div>
					</div>
				</div>

				<!-- Field: Content -->
				<div class="form-group soe_posts-content">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="content">Content<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(content)%%>
					</div>
				</div>

				<!-- Field: File name -->
				<div class="form-group soe_posts-file_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">File name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#file_name-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="file_name-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 100000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="file_name-link" href="link.php?t=soe_posts&f=file_name&i=<%%VALUE(id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(file_name)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(file_name)%%>
								<%%REMOVEFILE(file_name)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_file_name = '<%%VALUE(file_name)%%>'; if(e_file_name == '' || e_file_name == '&nbsp;' || e_file_name == 'blank.gif') jQuery('#file_name-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Photo -->
				<div class="form-group soe_posts-photo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#photo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="photo-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(photo)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_photo = '<%%VALUE(photo)%%>'; if(e_photo == '' || e_photo == '&nbsp;' || e_photo == 'blank.gif') jQuery('#photo-link').hide(); });</script>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="soe_posts_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#content').length) new nicEditor({ fullPanel : true }).panelInstance('content');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#soe_posts_dv_container-loading').addClass('hidden');
			$j('#soe_posts_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('soe_posts', 'title');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'soe_posts',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=soe_posts&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=soe_posts&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>